@media all and (max-width: 768px) {
    .header-top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login-list li,
    .navigation-list li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}